# Example Configs

# These comments and the below information may be modified at bots run time to be in any order, once setup do not expect the list to be this neat in the future.


# Bot Settings
nick=Kdkbot
verbose=true
channels=#kdkbot,#channel1,#channel2
masterCommands=Some_User

# Twitch Settings
port=6667
oauth=some_auth_token
clientId=some_client_id
twitchSecret=
irc=irc.twitch.tv

# Chat Logging
logChat=true
logChatLocation=C:\Projects\Java\kdkbot\logs\
logIgnores=(PING :|PONG :|MODE #)

# Twitter Settings
twitterOAuth=
twitterOAuthSecret=
twitterOAuthConsumer=
twitterOAuthConsumerSecret=

# Web Settings
webEnabled=true
webLocation=C:\Web Server\kdkbot\
watcherLocation=C:\Projects\Java\kdkbot\cfg\webWatcher\
watcherFile=watcher.txt
redirectURI=http://example.com/authenticate