# Example Configs

# These comments and the below information may be modified at bots run time to be in any order, once setup do not expect the list to be this neat in the future.

# Bot Settings
nick=Kdkbot
verbose=true
masterCommands=Some_User

# SQL Settings
sqlHost=localhost
sqlUser=
sqlPass=
sqlDB=