body {
	background-color: #666;
	background-image: url('../imgs/wildtextures-seamless-checkerplate-metal-sheet.jpg');
	color: #FFF;
}

a {
	color: white;
}

h1 {
	width: 100%;
	text-align: center;
}

.contentMain {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
}

.contentMain > div {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.5);
}

.contentHeader {
	border-radius: 15px 15px 0px 0px;
	font-size: 50px;
}

.contentHeader span {
	margin-left: 20px;
}

.contentMenu {
	
	border-radius: 0px !important;	
}

.contentMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.contentMenu ul li {
	float: left;
	border: 1px solid gray;
	margin: 5px;
}

.contentMenu ul li a {
	display: block;
	color: #FFF;
	text-align: center;
	padding: 5px 8px;
	text-decoration: none;
}

.contentMenu ul li a:hover {
	background-color: rgba(0,100,0,0.5);
}

.contentBody {
	min-height: 75%;
}

.contentFooter {
	border-radius: 0px 0px 15px 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: right;
}

.boxError {
	background-color: rgba(255,0,0,0.5);
	margin: auto auto;
	width: 75%;
	padding: 20px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
}

.boxWarning {
	background-color: rgba(255,255,0,0.2);
	margin: auto auto;
	width: 75%;
	padding: 20px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
}

.boxSuccess {
	background-color: rgba(0,127,0,0.5);
	margin: auto auto;
	width: 75%;
	padding: 20px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
}

table.minTable {
	background: rgba(0,0,0,0.5);
	margin: auto auto;
	border: 1px solid white;
	border-collapse: collapse;
}

table.minTable td {
	border: 1px solid white;
	padding: 5px;
}

table.borderHeader th {
	border: 1px solid white;
	padding: 10px;
}

table.minTable caption {
	font-weight: bold;
	font-size: 5em;
}

table.inputs2 input, table.inputs2 select, table.inputs2 textarea {
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 3px;
}

table.inputs2 input[type="checkbox"] {
	text-align: left !important;
	width: auto !important;
}

table.inputs2 input[type="submit"] {
	width: 100%;
}

table.inputs2 input[type="button"] {
	width: 100%;
}

table.inputs2 textarea {
	width: 100%;
}

table.inputs input, table.inputs select {
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 3px;
	width: 100%;
}

table.inputs input[type="checkbox"] {
	text-align: left !important;
	width: auto !important;
}

table.inputs input[type="number"] {
	width: 100px !important;
}

table.inputs input:hover, table.minTable select:hover {
	background-color: #333;
	color: white;
	border: 1px solid white;
	padding: 3px;
	width: 100%;
}

.boxNews {
	background-color: rgba(0,0,0,0.5);
	margin-left: 1%;
	margin-right: 1%;
	padding: 20px;
}

.boxNewsDate {
	padding: 20px;
	background-color: rgba(0,200,0,0.5);
}

.boxNewsContent {
	padding: 15px;
	background-color: rgba(50,50,50,0.5);
}

.boxChannel {
	padding: 15px;
	background-color: rgba(50,50,50,0.5);
	float: left;
	margin: 20px;
}

.boxChannel:hover {
	padding: 15px;
	background-color: rgba(0,50,0,0.5);
	float: left;
	margin: 20px;
}

.table34 {
	width: 75%;
}

div.button {
	text-align: center;
	position: relative;
	display: inline-block;
	border: 1px solid black;
	background-color: rgba(0,66,0,0.5);
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
	float: left;
	width: 100px;
	height: 130px;
}

div.button:hover {
	background-color: rgba(0,99,0,0.5);
}

div.button img {
	width: 100px;
	height: 100px;
}

div.off:hover {
	background-color: rgba(99,0,0,0.5) !important;
}

div.off {
	background-color: rgba(66,0,0,0.5) !important;
}

div.incomplete:hover {
	background-color: rgba(99,99,0,0.5) !important;
}

div.incomplete {
	background-color: rgba(66,66,0,0.5) !important;
}

.button .buttontext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	border: 1px solid black;
	
	top: 100%;
	left: 50%;
	margin-left: -60px;
	
	position: absolute;
	z-index: 1;
}

.button:hover .buttontext {
	visibility: visible;
}

.buttontext:hover {
	visibility: visible;
}

div.logItem {
	float: left;
	margin: 10px;
	padding: 15px;
	border: 1px solid white;
	border-radius: 15px;
}

div.logItem:hover {
	background-color: rgba(0,99,0,0.5);
}

pre.chatHistory {
	padding: 5px;
	margin: 5px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}